<section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <h1 class="display-1">{{ site.title }}</h1>
        <p class="lead">{{ site.tagline }}</p>
        <div class="d-grid gap-2 d-md-block">
          <a class="btn btn-primary btn-lg" href="tel:+905320000000">
            <i class="fa-solid fa-phone me-3"></i>Randevu Al</a>
          <button class="btn btn-outline-secondary" type="button">Daha fazla bilgi</button>
        </div>
      </div>
    </div>
  </div>
</section>