<section class="container-fluid" id="cta">
  <article class="container">
    <div class="row align-items-end">
      <div class="col col-md-6">
        <h1 class="display-1 brand">{{ site.title }}</h1>
        <p class="lead">{{ site.tagline }}</p>
        <div class="d-grid gap-3 d-lg-block">
          <a class="btn btn-primary btn-lg me-lg-3" href="tel:+905320000000">
            <i class="fa-solid fa-phone me-3"></i>Randevu Al
          </a>
          <a class="btn btn-outline-primary btn-lg" href="#about">
            <i class="fa-light fa-arrow-down me-3"></i>Daha fazla bilgi
          </a>
        </div>
      </div>
    </div>
  </article>
</section>