<section class="container-fluid">
  <article class="container">
    <div class="row">
      <div class="col">
        <h2 class="th1 text-center mb-5">Takım</h2>
        <div class="row row-cols-1 row-cols-md-3 g-3">
          {% for item in site.data.employees %}
          <div class="col text-center">
            <img src="{{ item.image }}" class="img-thumbnail rounded-circle mb-3" alt="{{ item.name }}">
            <h3 class="h5 mb-0">{{ item.name }}</h3>
            <p class="text-muted">{{ item.position }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </article>
</section>