<section class="container-fluid">
  <article class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Hizmetlerimiz</h2>
        <div class="row row-cols-1 row-cols-md-3 g-3">
          {% for item in site.data.services %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="card-title display-4 mb-3"><i class="fa-thin fa-{{ item.icon }}"></i></div>
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </article>
</section>